@media screen and (min-width: 480px) and (max-width: 1180px) {
    * {
        margin: 0;
    }
}


body {
    display: flex;
    /* selctores*/
    font-family: 'Nanum Pen Script', cursive;
    font-size: 18px;
    background-image: url("./imagenes/fondo2.jpg");
    /*com la diagonal busca la carpeta dela imagen*/
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: absolute;
    background: #590209;
    width: 73.7rem;
}

#options {
    display: flex;
    margin: 0;
    height: 4rem;
}

.valida {
    background-color: rgb(216, 243, 63);
    color: rgb(55, 7, 41);

}

.invalida {
    background-color: red;
    color: white;
}


.box-logo {
    display: inline-block;
}

.header-logo {
    width: 88px;
    display: inline-block;
    /*coloca la imagen en linea*/
}

h1 {
    font-family: 'Vintage Magic';
    color: #E09F3E;
    font-size: 2.4rem;
    position: absolute;
    margin: 0 0 10px 20px;
    margin-top: -4.3rem;
    margin-left: 6rem;
}

h2 {
    text-align: center;
    color: rgb(54, 9, 54);
    /* propiedaddes del elemento*/
    margin-top: 5rem
}

#price {
    font-size: 1.7rem;
    margin-top: 19rem;
    position: absolute;
    height: 1.5rem;
    width: 6rem;
    left: 13rem;
    border-radius: 10px;
}

.logo {
    text-align: center;
    display: inline-block;
    width: 70%;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 10px;
    /*marca la separación entre las palabras en la barra de navegación*/
    display: inline-block;
}

li {
    width: 150px;
    display: inline-block;
    /*hace que la etiqueta de bloque tenga la catacteristica de una despues de otra*/
    text-align: right;
    /*va a alinear al ancho del total de las palabras y si fuese en otra etiqueta sería al total de la línea de nav*/


}

a {
    text-decoration: none;
    cursor: pointer;
    color: #e9d5da;
    margin-top: 2rem;
    font-size: 1.5rem;
    position: absolute;
    font-size: 10;
    margin-left: 7rem;

}

a:focus,
a:hover {
    border-bottom: 2px solid;
}

a:active {
    color: rgb(136, 230, 86);
}

.imagen {
    background-image: url("/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    background-color: rgb(85 92 84 / 41%);
    border-radius: 9.8px;
    height: 1.5rem;
    font-size: 1rem;
    color: #e3efe3;
}



.button {
    background-color: #c7458a;
    border: rgb(47, 13, 78);
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: rgb(172, 135, 207);
    display: inline-block;
    font-size: 16px;

}

.contenedor {
    display: flex;
    width: 34rem;
    height: 33rem;
    margin-left: 48px;
    padding: 24px 0;
    text-align: center;
    position: absolute;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    flex-direction: column;
    top: 6rem;
}

.grid {
    display: flex;

}

#discos {
    width: 554px;
    margin-top: 7rem;
    margin-left: 38rem;
}

#title {
    color: #180045;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em #efdddd;
    margin-top: -2rem;
}

#info {
    font-size: 1.7rem;
    margin-left: 5rem;
    position: absolute;
    top: 25rem;
}


#botonValidar {
    border-radius: 10px;
    height: 1.7rem;
    width: 4rem;
    background-color: #2d89cf;
    color: aliceblue;
    font-size: 1rem;
}

#final {
    background-color: #590209;
    height: 4rem;
    position: absolute;
    top: 48.7rem;
    width: 73.7rem;
}

#sound {
    position: absolute;
    top: 20rem;
    left: 13rem;
    height: 1rem;
    width: 7rem;
}

#leyend {
    margin-left: 44rem;
    color: #190445;
    position: absolute;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em white;
}


#love {
    width: 13rem;
    height: 10rem;
    position: absolute;
    top: 8rem;
    left: 10rem;
    animation-name: girarb;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}

#price {
    position: absolute;
    top: 3rem;
    height: 2.1rem;
    background-color: #ffd700ab;
}

#final1 {
    bottom: 0rem;
    color: #FFF9D6;
    font-size: 1.7rem;
    margin-top: 14rem;
    position: absolute;
    height: 3.5rem;
    width: 37rem;
    left: 2rem;
    border-radius: 10px;
}

#list {
    color: #809ba6;
}